<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h1>Teste de html</h1>
<p>CSS Inline, Interno ou Externo
    O Que Exatamente é CSS?
    Cascading Style Sheets (CSS) é uma linguagem de marcação responsável pelo visual das suas páginas da web. Ele controla as cores, fontes e layouts dos elementos do seu site.
    
    Esta linguagem de estilo também permite que você adicione efeitos ou animações para o seu site. Você pode usá-la para exibir algumas animações CSS como os efeitos de clique em botões, de spinner e de loader, assim como fundos animados.
    
    Sem o CSS, o seu site vai aparecer como uma página HTML simples. Vernal, externa e inline. Vamos nos aprofundar nelas agora.
    
    CSS Interno</p>

</body>
</html>